@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<div class="mx-5 my-3">
    <h2>@ViewData["Title"]</h2>
    <div class="pb-2">   
        <!-- Search -->
        <form class="d-none d-inline-block form-inline mr-auto mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Create -->
        <a asp-action="Create" class="btn btn-primary mr-auto mw-100" type="button">Create New</a>

    </div>


    <div class="card">
        <div class="table-responsive ">
            <table class="table table-bordered m-0" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Tickets" asp-action="Index" asp-route-id="@item.ProjectId">@Html.DisplayFor(modelItem => item.Title)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
